.home-layout {
    background: #f2f2f2;
}

.section-me {
    display: flex;
    height: 100vh;
    width: 100%;
}

.section-me h1 {
    font-weight: 800;
    line-height: 1.1;
    font-size: calc(20px + 3.7vw);
    margin-bottom: 40px;
}

.me-picture {
    height: 100%;
    width: 100%;
    max-width: 50%;
}

.me-intro {
    padding: 60px;
}

.me-intro > p {
    margin-bottom: 40px;
    font-weight: 200;
    font-size: calc(12px + 1vw);
    line-height: 1.1;
}

.social-media {
    display: inline-flex;
    margin: -7px;
    color: #666;
}

.social-media > * {
    margin: 7px;
    display: flex;
    justify-content: center;
}

.social-media > * > svg {
    height: calc(10px + 1vw);
}